<nav class="fixed top-14 left-4 right-4 z-50 h-20 bg-white/90 glass-nav border border-outline-variant shadow-lg rounded-xl transition-all duration-300 max-w-container-max mx-auto" id="main-nav">
<div class="flex justify-between items-center h-full px-8">
<div class="flex items-center group cursor-pointer h-full">
<img alt="Kushal Globals Logo" class="h-16 w-auto object-contain" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCidYbK2qogjrxLI1zaHcb1KZ4XzEccrFllZZo0O8DRyDJC_aW4ZnI0ehNStzSQZQQgwcozW_g95ZtgO6gRPE6gJlRxgmPHCzqcrmTrF2LYXqYq80N05WgQy-uF9DJN6-pzXwBaZI4PjmyR_WpF1sx-E4gmlcQp3U6TA8ELBdiVafXMUEVQGiSJF3YmZ_dtQzOEjYuTnIna9lfjslpGtY6vpMBuHF3fp0VBO76nJ2ugnz-TmbR77Pq9S263U2CzzgNX1jo"/>
</div>
<div class="hidden md:flex items-center gap-8 h-full">
<a class="nav-link text-primary border-b-2 border-primary pb-1 font-bold font-label-md transition-all" href="../Home/code.html">Home</a>
<a class="nav-link text-on-surface-variant font-medium font-label-md hover:text-primary transition-colors duration-300" href="../About_Page/code.html">About</a>
<a class="nav-link text-on-surface-variant font-medium font-label-md hover:text-primary transition-colors duration-300" href="../Portfolio_Page/code.html">Products</a>
<a class="nav-link text-on-surface-variant font-medium font-label-md hover:text-primary transition-colors duration-300" href="#certs">Certificates</a>
<a class="nav-link text-on-surface-variant font-medium font-label-md hover:text-primary transition-colors duration-300" href="../Gallery_Page/code.html">Gallery</a>
<a class="nav-link text-on-surface-variant font-medium font-label-md hover:text-primary transition-colors duration-300" href="#blog">Blog</a>
</div>
<div class="flex items-center gap-4">
<a href="../Contact_Page/code.html" class="bg-primary text-white px-8 py-3 font-bold font-label-md rounded-[4px] hover:bg-primary/90 transition-all scale-100 active:scale-95 inline-block">
                    Contact
                </a>
</div>
</div>
</nav>